@import url('https://fonts.googleapis.com/css2?family=Playball&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');
*
.body{
    margin: 0;
    padding: 0;
    background-color: transparent;
    box-sizing: border-box;
    outline: none;
    font-family: 'Playball', cursive;
    font-family: 'Roboto', sans-serif;
    font-family: 'Alex Brush', cursive;


}

.confirm{
    position: relative;
    left: 170px;
    top: 20px;
    font-family: 'Playball', cursive;
    font-size: 20px;
    color: #5880a2;
    text-decoration:solid;
    padding: 40px;

}

.parent{
    position: relative;
    left: 9.5%;
    top: 48px;
    font-family: 'Roboto',sans-serif;
    font-size: 35px;
    color: #bca781;
    text-decoration:solid;
    padding: 100;
    padding-top: 100;
    padding-right: 100;
    padding-bottom: 100;
    padding-left: 100;
}  

.child-one{
    position: relative;
    left: 1.5%;
    top: 25px;
    font-family: 'Playball', cursive;
    font-size: 20px;
    color: #bca781;
    text-decoration:solid;
    padding: 40px;

}

.wrapper{
position:absolute;
bottom: 50%;
left: 33%;
transform: translateY(50%);
padding: 0 20px;
}

.waiting{
    margin: auto;
    padding: 50px;
    display: inline;
    flex-direction: column;
}

.p{
    font-family: 'Playball', cursive;
    color: #bca781;
    font-size: 22px;
    margin: 4px 0;
}


input[type=text]{

    width: 285px;
    margin: 10px 0;
    cursor: pointer;
    font-size: 20px;
    border-radius: 7px;
    color: #bca781;
    border: 1px solid #bca781;
    padding: 15px;
    font-family: 'Playball', cursive;
    outline: none;
}


.meniu{
    width: 317px;
    background: transparent;
    border: 1px solid;
    cursor: pointer;
    font-size: 25px;
    border-radius: 7px;
    border-color: #bca781;
    padding: 15px;
    font-family: 'Playball', cursive;
    display: flex;
    position: absolute;
    left: 341px;
    top:53.7%;
}

.persoane{
    width: 317px;
    margin: 4px 0;
    background: transparent;
    border: 1px solid;
    cursor: pointer;
    font-size: 24px;
    border-radius: 7px;
    border-color: #bca781;
    padding: 15px;
    font-family: 'Playball', cursive;
    display:flex;
    flex-direction:row ;
    flex-direction:column;
    margin-right: 4%;
}

.msg{
    width: 48%;
    color: #5880a2;
}

.form-control {
    font-family: 'Playball', cursive;
    font-size: 22px;
    color:#bca781;
    line-height: 1.2;
    display: grid;
    grid-template-columns: 24px auto;
    gap: 15px;
    padding: 2px;
  }

  input[type="checkbox"] {
    cursor: pointer;
 
  }
::placeholder {
color:#9cb4c7;
}

/* input[type="text"]{
    color: #5880a2;
} */


 .meniu, .persoane{
    font-family: 'Playball', cursive;
    font-size: 20px;
    color: #9cb4c7;
    border-radius: 10px;
  }

  .select{
    font-family: 'Playball', cursive;
    color: #bca781;
    font-size: 20px;
    display: flex;
    flex-direction:column;
  }

  .select1{
    font-family: 'Playball', cursive;
    color: #bca781;
    position: relative;
    left: 320px;
    bottom: 90px;
    font-size: 20px;
    display: flex;
    flex-direction:column;
  }

 textarea{
    color: #5880a2;
 }
  
.msg textarea{
    height: 150px;
    width: 610px;
    margin: 4px 0;
    display: flex;
    background: transparent;
    border: 1px solid #bca781;
    cursor: pointer;
    font-size: 20px;
    font-family: 'Playball', cursive;
    border-radius: 10px;
    color: #5880a2;
    padding: 15px;

}

.btn{
    font-family: 'Playball', cursive;
	width: 635px;
    position:absolute;
    bottom: -10%;
    left: 8px;;
	padding: 5px ;
    text-align: center;
	background-color: #5880a2;
	color: #ffffff;
	font-size: 30px;
	margin: 25px 10px;
	border-radius: 6px;
	outline: none;
	cursor: pointer;
	transition: .3s;
}
.btn:hover{
    background-color: #1a9c50;
	font-size: 30px;
}

.img1{

        position:absolute;
        left:12%;
        top:115%;
        height: 140px;

}
.img2{
    position: absolute;
    left: 0;
    top:130%;
}

.AD{
    font-family: "Alex Brush",coursive;
    position: absolute;
    top: 155%;
    left: 25%;
    transform: translate(-50%, -50%);
    font-size: 45px;
    color: #5880a2;
}

