.partea3-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-between;
}

.partea3-card {
    width: 300px;
    height: 600px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    border: double 0.4em transparent;
    background-color: white;
    border-radius: 75px;
    background-image: linear-gradient(white, white),
        linear-gradient(to right, #5880A2, #E6BC75);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    display: block;
    position: relative;
    overflow: hidden;
}

.partea3-heading {
    font-family: "AlexBrush", Sans-serif;
    font-size: 30px;
    font-weight: 400;
    color: #5880A2;
}

.partea3-images {
    border-radius: 50%;
    width: 183.2px;
    height: 183.2px;
}

[class^="partea3-text"] {
    font-family: Playball;
    color: #BCA680;
    margin-top: 20px;
}

.partea3-text1,
.partea3-text2,
.partea3-text4 {
    font-size: 22px;
}

.partea3-text3 {
    font-size: 18px;
}

.partea3-maps {
    position: absolute;
    bottom: 5;
    top: 5;
    width: 90%;
    display: flex;
    justify-content: center;
}