html {
    background-color: white;
}

.part4-nasii-text {
    font-family: AlexBrush, arial, sans-serif;
    font-size: 32px;
    color: #5880a2;
    justify-content: center;
    display: flex;
    position: relative;
    height: 40px;
    margin-top: 64px;
    margin-bottom: 0px;
}

.part4-background-img-nasii {
    height: 110.7px;
    background-image: url(../images/blue\ flower.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 150%;
}

.part4-nasii-list {
    height: 110.7px;
    margin-left: 154px;
    margin-right: 154px;
    display: flex;
    background-color: white;
    border: 3px solid;
    border-color: rgb(210, 189, 119);
    background-image: linear-gradient(rgb(231,231,231), white, rgb(231,231,231));
    box-sizing: border-box;
    box-shadow: 1px 1px 10px rgb(60, 60, 60);
}

.part4-nasi {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin-left: 249.05px;
    margin-right: 249.05px;
    align-self: center;
    display: inline-block;
    flex-wrap: nowrap;
}

.part4-text-between-nasi {
    font-family: AlexBrush, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen sans-serif;
    font-size: 21px;
    align-self: center;
}

.part4-gap {
    height: 102px;
    display: flex;
    justify-content: center;
    align-content: flex-end;
}

.part4-parintii-list {
    height: 228px;
    margin-left: 154px;
    margin-right: 154px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 3px solid;
    border-color: rgb(210, 189, 119);
    background-image: linear-gradient(rgb(231,231,231), white, rgb(231,231,231));
    box-sizing: border-box;
    box-shadow: 1px 1px 10px rgb(60, 60, 60);
}

.part4-parinti {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    align-self: center;
    display: flex;
    margin: 10px auto;
    box-sizing: content-box;
}

.part4-background-img-parintii {
    background-image: url(../images/flowers-white-background.jpg);
    background-size: 20%;
}

.img-under-parintii {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 12%;
    size: 100%;
    margin-top: 20px;
}